<div class="container">
    <h2 class="text-center text-primary">Personal Information</h2><br>
    <form [formGroup] = "personForm">
        <div class="row mb-3">
            <label for="fname" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputFName" formControlName="fName">
            </div>
        </div>
        <div class="row mb-3">
            <label for="lname" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputLName" formControlName="lName">
            </div>
        </div>
        <div class="row mb-3">
            <label for="father" class="col-sm-2 col-form-label">Father Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputFather" formControlName="fatherName">
            </div>
        </div>

        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sex" id="gridRadios1" formControlName="sex"
                        value="Male" checked="">
                    <label class="form-check-label" for="gridRadios1">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sex" id="gridRadios2" formControlName="sex"
                        value="Female">
                    <label class="form-check-label" for="gridRadios2">
                        Female
                    </label>
                </div>
            </div>
        </fieldset>

        <div class="row mb-3">
            <label for="educQua" class="col-sm-2 col-form-label">Educational Qualification</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Default select" formControlName="eduQua">
                    <!-- <option selected="">Open this select menu</option> -->
                    <option value="Matriculation">Matriculation</option>
                    <option value="Highersecondary">Higher Secondary</option>
                    <option value="Grauation">Grauation</option>
                    <option value="Post-Graduation">Post-Graduation</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="mobile" class="col-sm-2 col-form-label">Mobile Number</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="inputMobile" formControlName="mobile">
            </div>
        </div>
        <div class="row mb-3">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="adrss" formControlName="address">
            </div>
        </div>

        <button *ngIf="!id" type="submit" class="btn btn-primary" (click)="onSubmit()">Create</button>
        <button *ngIf="id" type="submit" class="btn btn-primary" (click)="onUpdate()">Update</button>
    </form>

</div>