<div class="container">
    <h2 class="text-center text-primary">Details Of Person</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Father's Name</th>
                <th scope="col">Sex</th>
                <th scope="col">Educational Qualification</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="person">
                <th scope="row">{{person.id}}</th>
                <td>{{person.fName}}</td>
                <td>{{person.lName}}</td>
                <td>{{person.fatherName}}</td>
                <td>{{person.sex}}</td>
                <td>{{person.eduQua}}</td>
                <td>{{person.mobile}}</td>
                <td>{{person.address}}</td>
            </tr>

        </tbody>
        <br>

        <button class="btn btn-danger" (click)="deletePerson(person.id)">Delete Data</button>
        <br><br>
        <button class="btn btn-warning" (click)="updatePerson()">Update Data</button>